<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row checkout-item" style="background-color: black; color: white;" *ngIf="CartValue !== 0">
                <div class="col-md-1"></div>
                <div class="col-md-4">{{ 'cart.product' | translate }}</div>
                <div class="col-md-2 text-center">{{ 'cart.price' | translate }}</div>
                <div class="col-md-4 text-center">{{ 'cart.quantity' | translate }}</div>
                <div class="col-md-1"></div>
            </div>
            <div class="row checkout-item" *ngFor="let product of CartProducts">
                <div class="col-md-1"></div>
                <div class="col-md-4">{{product.name}}</div>
                <div class="col-md-2 text-center">{{product.price | currency: 'INR'}}</div>
                <div class="col-md-4 text-center">
                    <span class="fas fa-minus" style="cursor: pointer; color: orangered;"
                        (click)="minusQuantity(product.id)"></span>
                    &nbsp; {{ProductMap.get(product.id)}} &nbsp;
                    <span class="fas fa-plus" style="cursor: pointer; color: green;"
                        (click)="plusQuantity(product.id)"></span>
                    &nbsp;
                    <span class="fas fa-trash-alt" style="cursor: pointer; color: red;"
                        (click)="deleteProduct(product.id)"></span>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4"></div>
                <div class="col-md-2 text-center"> <b>{{ 'cart.total_cart_value' | translate }}</b> {{CartValue | currency: 'INR'}}</div>
                <div class="col-md-2 text-center">
                    <button class="btn btn-success" (click)="checkout()" [disabled]="CartValue === 0">{{ 'cart.checkout' | translate }}</button>
                </div>
                <div class="col-md-2 text-center">
                    <button class="btn btn-danger" (click)="clearCart()" [disabled]="CartValue === 0">{{ 'cart.clear_cart' | translate }}</button>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<br>