<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form novalidate (ngSubmit)="search()" [formGroup]="SearchForm">
                <div class="row">
                    <div class="col-md-4" style="margin-bottom: 10px;">
                        <select class="form-control" formControlName="category" (change)="onCategoryChange()">
                            <option value="Select Category" selected>{{'products.select_category' | translate}}</option>
                            <option value="Electronics">{{'products.category_electronics' | translate}}</option>
                            <option value="Kitchen">{{'products.category_kitchen' | translate}}</option>
                            <option value="Kids">{{'products.category_kids' | translate}}</option>
                        </select>
                    </div>
                    <div class="col-md-5" style="margin-bottom: 10px;">
                        <input type="text" class="form-control" placeholder="{{ 'products.search_placeholder' | translate }}"
                            formControlName="query" />
                    </div>
                    <div class="col-md-3"><button class="btn btn-success" type="submit" style="width: 100%;" [disabled]="!SearchForm.valid"> {{ 'products.search_button' | translate }} </button></div>
                </div>
            </form>
            <div class="row" *ngFor="let item of [].constructor(TotalProductRows); let i = index">
                <div class="col-md-3" *ngFor="let item2 of [].constructor(4); let j = index">
                    <div *ngIf="FilteredProducts[i*4+j] != null">
                        <app-product-card style="cursor: pointer;" (click)="showDetails(FilteredProducts[i*4+j])"
                            [Product]="FilteredProducts[i*4+j]"></app-product-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<br>